@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<AppCrud.Models.Empleado>;

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Lista empleados</h2>
        <a asp-controller="Empleado" asp-action="Nuevo" class="btn btn-success mb-3"  >Nuevo </a>
         <table class="table table-bordered">
             <thead>
                 <tr>
                 <th>Id</th>
                 <th>Nombre Completo</th>
                 <th>Correo</th>
                 <th>Fecha Contrato</th>
                 <th>Activo</th>
                 <th></th>
                </tr>
             </thead>
             <tbody>
                 @foreach(var item in Model) {

                     <tr>
                         <th>@item.IdEmpleado</th>
                         <th>@item.NombreCompleto</th>
                         <th>@item.Correo</th>
                         <th>@item.FechaContrato.ToString("dd/MM/YYYY")</th>
                         <th>@(item.Activo ? "SI": "NO")</th>
                         <th>
                            <a asp-controller="Empleado" asp-action="Editar" asp-route-id="@item.IdEmpleado" class="btn btn-primary mb-3">Editar </a>
                         </th>
                        <th>
                            <a asp-controller="Empleado" asp-action="Eliminar" asp-route-id="@item.IdEmpleado" class="btn btn-danger mb-3" onclick="return confirmar()">Eliminar </a>
                        </th>
                     </tr>
                 }
             </tbody>
         </table>
    </div>
</div>

@section Scripts {
    <script>
        function confirmar() {
            return confirm("Estas seguro de eliminar el empleado?")
        }
    </script>
}